.cv {
    border: 2px solid white;
    border-radius: 10px;
    background: #0c0c0c;
    width: min-content;
    height: 30px;
    color: white;
    font-size: 12px;
}

.cv-text:hover, .cv:hover {
    cursor: pointer;
}
