.topbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}

.topbar-dest {
    font-size: 1.2vw;
    font-weight: 600;
}

.topbar-button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    border: 0;
    background-color: black;
    color: white;
}

.topbar-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.hamburger-wrapper {
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
    background-color: black;
    z-index: 1;
}

.hamburger {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 28px;
    margin-bottom: 8px;
    background: white;
    transform-origin: left;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 640px) {
    .topbar {
        display: none;
        flex-direction: column;
        margin-top: 187px;
        z-index: 10;
    }
    
    .topbar-button:hover {
        background-color: black;
        color: white;
    }

    .topbar-dest {
        padding: 20px 0;
        font-size: 2.5vw;
    }

    .hamburger-wrapper {
        display: flex;
    }
}
