.bio {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logo {
    width: 50px;
}

.logo:hover {
    transform: scale(1.2);
}

.logo-button {
     background-color: black;
     border: 0;
}

.terminal {
    width: 75%;
    margin: 50px auto;
    padding: 10px;
    padding-right: 0;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow: scroll;
    max-height: 500px;
    font-size: 15px;
}

.info {
    margin: 0px;
}

.prompt {
    background-color: #000;
    color: white;
    border: none;
    resize: none;
    font-family: monospace;
    width: 75%;
}

.project-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-label {
    margin: 0px;
}

.projects {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: max-content;
    flex-wrap: wrap;
    max-width: 1610px;
}

.project {
    border: 5px solid white;
    border-radius: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 20px;
    min-height: max-content;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background: rgba(255, 255, 255, 0.15); 
}

.project-title {
    margin-top: 20px;
    font-size: 22px;
}

.project-description {
    padding: 0px 20px;
    height: 120px;
}

.project-button {
    border: 2px solid white;
    border-radius: 4px;
    margin-top: 20px;
    position: relative;
    background: black;
    color: white;
    padding: 8px 14px;
    z-index: -1;
}

.project-button:hover {
    border: 2px solid black;
    background: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .bio {
        margin-top: 0;
    }

    .terminal {
        width: auto;
        margin: 0;
    }

    .project-label {
        font-size: 80%;
    }
    
    .projects {
        width: 100%;
    }

    .project {
        border: 2px solid white;
        width: 200px;
        height: 200px;
        margin: 10px;
        margin-top: 17px;
    }

    .project-title {
        font-size: 14px;
    }

    .project-description {
        margin: 0;
        height: 75px;
        font-size: 12px;
    }

    .project-button {
        margin-top: 20px;
    }
}


@media screen and (min-width: 640px) {
    .project-button {
        margin-top: 0px;
    }

    .project {
        border: 2px solid white;
        width: 175px;
        height: 175px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-description {
        margin: 0;
        height: 80px;
        font-size: 12px;
    }

    .projects {
        padding-top: 2%;
        width: 90%; 
    }
}
@media screen and (min-width: 768px) {
    .project {
        border: 3px solid white;
        width: 200px;
        height: 200px;
    }

    .project-title {
        font-size: 18px;
    }

    .project-description {
        margin: 0;
        height: 90px;
        font-size: 11px;
    }

    .project-button {
        margin-top: 0px;
    }
}
@media screen and (min-width: 1024px) {
    .project {
        border: 4px solid white;
        width: 225px;
        height: 225px;
    }

    .project-title {
        font-size: 19px;
    }

    .project-description {
        margin: 0;
        height: 110px;
        font-size: 13px;
    }

    .project-button {
        margin-top: 0px;
    }
}
@media screen and (min-width: 1280px) {
    .project {
        width: 250px;
        height: 250px;
    }

    .project-title {
        font-size: 20px;
    }

    .project-description {
        margin: 0;
        font-size: 14px;
    }

     .project-button {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1536px) {
    .project {
        width: 275px;
        height: 275px;
    }

    .project-title {
        font-size: 21px;
    }

    .project-description {
        margin: 0;
        font-size: 15px;
    }

    .project-button {
        margin-top: 0px;
    }
}
