
@font-face {
  font-family: 'Modenine';
  src: url('../assets/Modenine.ttf');
}

body {
    background-color: #0c0c0c; /* onyx */
    color: white;
}

* {
  font-family: 'Modenine', sans-serif;
    scroll-behavior: smooth;
}

.line{
  bottom: 70px;
  position: fixed;
  width: 100%;
}

.footer-text{
  margin: 0 auto;
  text-align: center;
}